security:
    providers:
        user_provider:
            entity:
                class:  Domain\User\Model\User
                property: username
    encoders:
        Symfony\Component\Security\Core\User\User: plaintext
        Domain\User\Model\User: plaintext
        
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            anonymous: ~
            http_basic: ~
            provider: user_provider
            #form_login: ~
    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/ticket, roles: [ROLE_ADMIN, ROLE_USER] }
