# Learn more about services, parameters and containers at
# https://symfony.com/doc/current/service_container.html
parameters:
    #parameter_name: value

services:
    domain.user.repository:
        class: Domain\User\Repository\UserRepository
        factory:
            - "@doctrine.orm.entity_manager"
            - getRepository
        arguments: [Domain\User\Model\User]
    domain.ticket.repository:
        class: Domain\User\Repository\TicketRepository
        factory:
            - "@doctrine.orm.entity_manager"
            - getRepository
        arguments: [Domain\Model\Ticket]

    AppBundle\DataFixtures\:
        resource: '../../src/AppBundle/DataFixtures/*'
        tags: ['doctrine.fixture.orm']