Domain\Model\Ticket:
  repositoryClass: Domain\Repository\TicketRepository
  type: entity
  table: ticket
  id:
    id:
      type: integer
      generator: { strategy: AUTO }
  fields:
    messages:
      type: json_array
    status:
      type: string
      lenght: 30
    created_at:
      type: datetime
    updated_at:
      type: datetime

  manyToOne:
    user:
      targetEntity: Domain\User\Model\User
      joinColumn:
        name: user_id
        referencedName: id